/* your code here */
* {
    margin: 0px;
    padding: 0px;
	background-color:black;
}
.link-boxes
{
	display:flex;
	justify-content:space-between;
	padding:40px 0px 0px 0px;
	color:white;
	
}
.bottom-details
{
	display:flex;
	justify-content:space-between;
	width:100%;
	background-color:black;
	color:white;
	
}
p{
	padding:10px;
}
a{
	text-decoration:none;
	color:white;
}
.contact
{
	display:flex;
	flex-direction:column;
}
